# Database
/data/market.db
*.sqlite3

# Uploaded images
/data/images/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
musicAI/

# Flask instance folder
instance/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Secrets or config files
*.env
config.py
*.key
*.pem
