{% extends "base.html" %}
{% block content %}
<h2>Admin Dashboard</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Farmer</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.farmer_id }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.weight_or_quantity }}</td>
        <td>
            <a href="{{ url_for('admin_delete', product_id=product.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
